            @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Poppins", sans-serif;
            }

            body {
                display: flex;
                padding: 10px;
                min-height: 100vh;
                align-items: center;
                justify-content: center;
                background: #2F2F2F;
            }

            .title-top {
                width: 100%;
                text-align: center;
                font-optical-sizing: auto;
                text-transform: uppercase;
                justify-content: center;
                align-content: center;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #524f4d;
                background-color: #2F2F2F;
                border-style: inset;
                box-shadow: inset 0 0 20px rgba(19, 18, 18, 0.5);
                border-width: 1px;
                border-color: #2f2f2f;
                border-radius: 25px;
                margin-bottom: 30px;
            }

            .container {
                width: 850px;
                padding: 30px 35px 35px;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            }

            .container.disable .editor-panel,
            .container.disable .controls .reset-filter,
            .container.disable .controls .save-img {
                opacity: 0.5;
                pointer-events: none;
            }

            /* .crop {
            display: none;
        }

        .crop .active {
            display: block;
        } */

            .container h2 {
                margin-top: -8px;
                font-size: 22px;
                font-weight: 500;
            }

            .container .wrapper {
                display: flex;
                margin: 20px 0;
                min-height: 335px;
            }

            .wrapper .editor-panel {
                padding: 15px 20px;
                width: 280px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            .editor-panel .title {
                display: block;
                font-size: 16px;
                margin-bottom: 12px;
            }

            .editor-panel .options,
            .controls {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .editor-panel button {
                outline: none;
                height: 40px;
                font-size: 14px;
                color: #6c757d;
                background: #fff;
                border-radius: 3px;
                margin-bottom: 8px;
                border: 1px solid #aaa;
            }

            .editor-panel .editOptions button {
                width: calc(100% / 3 - 4px);
            }

            .editor-panel .editOptions button.selected {
                color: #fff;
                border-color: #2F2F2F;
                background: #2F2F2F;
                /* width: calc(100% / 3 - 4px); */
            }

            .editor-panel .filter button {
                width: calc(100% / 2 - 4px);
            }

            .editor-panel .crop button {
                width: calc(100% - 4px);
                background-color: #2F2F2F;
                color: white;
            }

            .crop button.active,
            .filter button.active {
                color: #fff;
                border-color: #2F2F2F;
                background: #2F2F2F;
            }

            .crop .cropSlider,
            .filter .slider {
                margin-top: 12px;
            }

            .crop .cropSlider .crop-info,
            .filter .slider .filter-info {
                display: flex;
                color: #464646;
                font-size: 14px;
                justify-content: space-between;
            }

            .crop .cropSlider input,
            .filter .slider input {
                width: 100%;
                height: 5px;
                accent-color: #2F2F2F;
            }

            .editor-panel .rotate {
                margin-top: 17px;
            }

            .editor-panel .rotate button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% / 4 - 3px);
            }

            .rotate .options button:nth-child(3),
            .rotate .options button:nth-child(4) {
                font-size: 18px;
            }

            .rotate .options button:active {
                color: #fff;
                background: #2F2F2F;
                border-color: #2F2F2F;
            }

            .wrapper .preview-img {
                flex-grow: 1;
                display: flex;
                overflow: hidden;
                margin-left: 20px;
                border-radius: 5px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .preview-img img {
                max-width: 500px;
                margin: 5%;
            }

            #cropCanvas {
                max-width: 300px;
                max-height: 300px;
            }

            .controls button {
                padding: 11px 20px;
                font-size: 14px;
                border-radius: 3px;
                outline: none;
                color: #fff;
                cursor: pointer;
                background: none;
                transition: all 0.3s ease;
                text-transform: uppercase;
            }

            .controls .reset-crop,
            .controls .reset-filter {
                color: #6c757d;
                border: 1px solid #6c757d;
            }

            .controls .reset-crop:hover,
            .controls .reset-filter:hover {
                color: #fff;
                background: #6c757d;
            }

            .controls .choose-img {
                background: #6c757d;
                border: 1px solid #6c757d;
            }

            .controls .save-img {
                margin-left: 5px;
                background: #2F2F2F;
                border: 1px solid #2F2F2F;
            }
            #left,
            #right,
            #horizontal,
            #vertical {
                /* Add these styles to ensure the image fits within the button */
                /* width: 100px;  */

                border: 1px solid gray;

                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #left img,
            #right img,
            #horizontal img,
            #vertical img {
                /* Set the image to fit within the button */
                max-width: 40%; /* Ensure the image doesn't exceed the button's width */
                max-height: 40%; /* Ensure the image doesn't exceed the button's height */
                margin: auto;
            }

            @media screen and (max-width: 760px) {
                .container {
                    padding: 25px;
                }

                .container .wrapper {
                    flex-wrap: wrap-reverse;
                }

                .wrapper .editor-panel {
                    width: 100%;
                }

                .wrapper .preview-img {
                    width: 100%;
                    margin: 0 0 15px;
                }
            }

            @media screen and (max-width: 500px) {
                .controls button {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .controls .row {
                    width: 100%;
                }

                .controls .row .save-img {
                    margin-left: 0px;
                }
            }

            #canvasContainer {
                position: relative;
                overflow: hidden;
            }

            #cropBox {
                position: absolute;
                border: 2px dashed red;
            }

            .resize-handle {
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: #fff;
                border: 1px solid #000;
            }

            #topLeftHandle {
                top: -4px;
                left: -4px;
                cursor: nwse-resize;
            }

            #topRightHandle {
                top: -4px;
                right: -4px;
                cursor: nesw-resize;
            }

            #bottomLeftHandle {
                bottom: -4px;
                left: -4px;
                cursor: nesw-resize;
            }

            #bottomRightHandle {
                bottom: -4px;
                right: -4px;
                cursor: nwse-resize;
            }

            canvas {
                display: block;
                max-width: 100%;
                height: auto;
            }
            
            /* FOOTER */
.footer {
    position: fixed;
    font-weight: 600;
    height: 20px;
    font-size: 11px;
    left: 0;
    bottom: 0;
    color: #4d4242; /* Text color */
    text-align: center;
    padding: 20px 0; /* Padding for content */
    z-index: 1000; /* Ensure it's above other content */
    text-align: center;
    width: 100%;
                font-optical-sizing: auto;
                text-transform: uppercase;
                justify-content: center;
                align-content: center;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #524f4d;
                background-color: #212121;
                border-style: inset;
                box-shadow: inset 0 0 25px rgba(19, 18, 18, 0.5);
                border-width: 1px;
                border-color: #2f2f2f;

}
